parameters:
	ignoreErrors:
		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 1
			path: src/FilamentSocialitePlugin.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:with\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/SocialiteLoginController.php
